{% extends "layout.html" %}
{% block content %}
    <div class="card mb-4">
        <div class="card-header">
            Dupes of {{ checksum }}
            <br>
            {{ current }} of {{ total }}
        </div>
        <div class="card-body">
            <img src="/pics/{{ duplicates_of_checksum[0] }}"
                 alt="{{ file }}"
                 style="max-height:1000px;
                        max-width:900px;
                        height:auto;
                        width:auto" />
            <br>
            <table id="datatablesSimple">
                <tbody>
                    {% for file in duplicates_of_checksum %}
                        <tr>
                            <td>
                                <a href="/pics/{{ file }}">View</a>
                            </td>
                            <td>
                                <form method="post" action="{{ url_for("process_duplicate") }}">
                                    <input type="hidden" name="page" value="{{ current }}">
                                    <input type="hidden" name="keep_file" value="{{ file }}">
                                    <input type="hidden" name="all_files" value="{{ all_files }}">
                                    <button type="submit">Choose</button>
                                </form>
                            </td>
                            <td>{{ file }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if prev_url %}<a href="{{ prev_url }}">Previous</a>{% endif %}
            {% if prev_url and next_url %}|{% endif %}
            {% if next_url %}<a href="{{ next_url }}">Next</a>{% endif %}
        </div>
    </div>
{% endblock content %}
